.list-container label {
    width: 45%;
    margin-bottom: 10px;
}

.prefecture-list {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 0.5rem;
    margin: auto;
}

.prefecture-list label:hover {
    background-color: #ddd;
}
  
.mv-1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
} 

.select-toggle {
    font-size: 16px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    color: #333;
    outline: none;
    box-shadow: none;
}

.footer {
    text-align: center;
    font-size: 0.8rem;
    color: #474747;
}

/* The following styles are for responsive screen */
@media screen and (max-width: 600px) {
    .main-container {
        text-align: center;
        width: 95%;
        margin: auto;
    }
    .list-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        margin: auto;
    }
    .font-sm {
        font-size: small;
    }
    .prefecture-list-sm {
        padding: 0.2rem;
    }
}
@media screen and (min-width: 600px) and (max-width: 1200px) {
    .main-container {
        text-align: center;
        width: 90%;
        margin: auto;
    }
    .list-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 90%;
        margin: auto;
    }
}
@media screen and (min-width: 1200px) { 
    .main-container {
        text-align: center;
        width: 80%;
        margin: auto;
    }
    .list-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 80%;
        margin: auto;
    }
}